<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <title>JUST TEST LOGIN</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <form name="loginform" method="post" action="login-page">
        <input type="text" name="user_id" placeholder="로그인">
        <input type="password" name="user_passwd" placeholder="비밀번호">
        <input type="submit" name="submit" value="로그인">
        <input type="button" value="가입" onclick="location='regist-page'">
    </form>
</body>

</html>